@import url('https://fonts.googleapis.com/css2?family=Acme&family=Black+Ops+One&family=Kalnia+Glaze:wght@100..700&family=Playwrite+BE+WAL:wght@100..400&display=swap');

body {
  font-family: "Acme", sans-serif;
  font-weight: 400;
  font-style: normal;
  /* background: linear-gradient(135deg, #f9f9f9, #bebebc, #0e0e0e); */
  background: url(images/paper.jpg);
  overflow-y: hidden;
}
.container {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  height: 100vh;
  padding-top: 50px; 
  box-sizing: border-box; 
}

